services:
  db:
    image: pgvector/pgvector:pg16
    container_name: sentinel_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always
  redis:
    image: redis:7-alpine
    container_name: sentinel_redis
    ports:
      - "6379:6379"
    restart: always

  api:
    build: 
      context: dockerfiles/.
      dockerfile: Dockerfile.api
    container_name: sentinel_api
    entrypoint: ["/app/entrypoint.sh"]
    command: ["uvicorn", "src.api.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload", "--log-level", "debug"]
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ./config.yml:/app/config.yml:ro
    depends_on:
      - db
      - redis
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - REDIS_HOST=redis
      - OLLAMA_BASE_URL=http://ollama:11434
    # extra_hosts:
    #   - "host.docker.internal:host-gateway"
    restart: always

  worker:
    build: 
      context: dockerfiles/.
      dockerfile: Dockerfile.worker
    container_name: sentinel_worker
    command: celery -A src.worker.celery_app:celery_app worker --loglevel=debug
    volumes:
      - .:/app
      - ./config.yml:/app/config.yml:ro
    depends_on:
      - db
      - redis
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - REDIS_HOST=redis
      - OLLAMA_BASE_URL=http://ollama:11434
    # extra_hosts:
    #   - "host.docker.internal:host-gateway"
    restart: always

  ui:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile.ui
    container_name: sentinel_ui
    ports:
      - "4173:80"
    environment:
      - VITE_API_BASE_URL=http://localhost:8000
    depends_on:
      - api
    restart: always

  ollama:
    image: ollama/ollama
    container_name: sentinel_ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: always

volumes:
  pg_data:
