# FastAPI
fastapi
uvicorn[standard]
python-multipart

# Celery
celery
redis

# Config & Schema
pydantic
pydantic-settings

# DB
alembic
sqlalchemy
psycopg2-binary
pgvector
asyncpg
ddgs

# LangChain Core & Brain
langchain
langgraph
langchain-ollama
langchain-openai
langchain-community
langchain_experimental # for CodeTool
ollama

# Reranker
# sentence-transformers