# FastAPI
fastapi
uvicorn[standard]
python-multipart

# Celery
celery
redis

# Config & Schema
pydantic
pydantic-settings

# DB
alembic
sqlalchemy
psycopg2-binary
pgvector
asyncpg
ddgs
GitPython

# LangChain Core & Brain
langchain
langgraph
langchain-ollama
langchain-openai
langchain-community
langchain_experimental # for CodeTool
ollama

# Reranker
# sentence-transformers

# Authentication
passlib==1.7.4
bcrypt==4.0.1
python-jose[cryptography]

croniter